
@tailwind base;
@tailwind components;
@tailwind utilities;

.chip-animation {
  position: absolute;
  left: 0;
  transition: transform 1.5s ease-in-out;
}
.animate-move {
  transform: translateX(100%);
}
